#In newer versions of studio, local entity dlls are stored in a dedicated sub-directory (.local/.entities)
#Ignore .local files without ignoring dataservice object .dlls
!.local/
.local/*
!.local/.entities/
#Ignore Debug And Design-Time Settings, Don't Ignore Release Settings
.settings/Debug/
.settings/Design/
#.tmh folder is poorly documented, so not ignoring it currently.
#.tmh/
#(Optional) prevent scratch workflows from being commmited, allowings devs to keep local copies
**/*[Ss]cratch*.xaml
*[Ss]cratch*.xaml
#Ignore temporary files from unsaved .xaml files
~*
